# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
testing/shread_testing.ipynb

# Inputs
*.geojson

# Outputs
*.tif
*.aux.xml
gdal_calc.py
testing/gdal_testing.ipynb
testing/setup commands.txt
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/SHREAD.iml
.idea/vcs.xml
.idea/workspace.xml
data/database/*
data/working/snodas/*
data/working/modscag/*
.idea*
config/shread_config_example.ini
data/database/snodas_snowdepth_20190410_Bighorn_HUC8_EPSG5070_english_.csv
data/database/snodas_swe_20190410_Bighorn_HUC8_EPSG5070_english_.csv
data/working/srpt/snow_reporters_20190401_flattened.kml
data/working/srpt/snow_reporters_20190401_.csv
data/working/srpt/snow_reporters_20190401.kmz
data/working/srpt/snow_reporters_20190401.kml
data/working/srpt/palette-station.png
data/database/snodas_swe_20190410_Bighorn_HUC8_EPSG5070_english_.csv
data/database/snodas_snowdepth_20190410_Bighorn_HUC8_EPSG5070_english_.csv
resources/ElevationBandToolNotes
*.ipynb
*.kml
*.kmz
testing/ASO_ExtentCodes.xlsx
data/working/aso/ASO_50M_SWE_USWAOL_20160329.tif.xml
data/working/aso/ASO_50M_SWE_USWAOL_20160208.tif.xml
data/working/aso/ASO_50M_SWE_USCORG_20160403.tif.xml
data/working/aso/ASO_50M_SWE_USCOGT_20190609.tif.xml
data/working/aso/ASO_50M_SWE_USCOGT_20190408.tif.xml
data/working/aso/ASO_50M_SWE_USCOGT_20180330.tif.xml
data/working/aso/ASO_50M_SWE_USCOGE_20190610.tif.xml
data/working/aso/ASO_50M_SWE_USCOGE_20190407.tif.xml
data/working/aso/ASO_50M_SWE_USCOGE_20180524.tif.xml
data/working/aso/ASO_50M_SWE_USCOGE_20180331.tif.xml
data/working/aso/ASO_50M_SWE_USCOCM_20190610.tif.xml
data/working/aso/ASO_50M_SWE_USCOCM_20190407.tif.xml
data/working/aso/ASO_50M_SWE_USCOCJ_20160403.tif.xml
data/working/aso/ASO_50M_SWE_USCOCB_20180330.tif.xml
data/working/aso/ASO_50M_SWE_USCOCB_20160404.tif.xml
data/working/aso/ASO_50M_SWE_USCOBR_20190624.tif.xml
data/working/aso/ASO_50M_SWE_USCOBR_20190419.tif.xml
data/working/aso/ASO_50M_SWE_USCATE_20190705.tif.xml
data/working/aso/ASO_50M_SWE_USCATE_20190613.tif.xml
data/working/aso/ASO_50M_SWE_USCATE_20190503.tif.xml
data/working/aso/ASO_50M_SWE_USCATE_20190417.tif.xml
data/working/aso/ASO_50M_SWE_USCATE_20190324.tif.xml
data/working/aso/ASO_50M_SWE_USCATE_20170129.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20180528.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20180423.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20170816.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20170727.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20170717.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20170129.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20160708.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20160527.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20160509.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20160426.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20160416.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20160407.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20160401.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20160326.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20130608.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20130601.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20130525.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20130503.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20130429.tif.xml
data/working/aso/ASO_50M_SWE_USCATB_20130403.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20190713.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20190704.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20190614.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20190501.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20190325.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20180601.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20180422.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20180304.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20170815.tif.xml
data/working/aso/ASO_50M_SWE_USCASJ_20170719.tif.xml
data/working/aso/ASO_50M_SWE_USCASF_20190714.tif.xml
data/working/aso/ASO_50M_SWE_USCASF_20190704.tif.xml
data/working/aso/ASO_50M_SWE_USCASF_20190609.tif.xml
data/working/aso/ASO_50M_SWE_USCASF_20190502.tif.xml
data/working/aso/ASO_50M_SWE_USCASF_20190317.tif.xml
data/working/aso/ASO_50M_SWE_USCASF_20180601.tif.xml
data/working/aso/ASO_50M_SWE_USCASF_20180423.tif.xml
data/working/aso/ASO_50M_SWE_USCASF_20170718.tif.xml
data/working/aso/ASO_50M_SWE_USCARC_20170717.tif.xml
data/working/aso/ASO_50M_SWE_USCAMB_20190716.tif.xml
data/working/aso/ASO_50M_SWE_USCAMB_20190703.tif.xml
data/working/aso/ASO_50M_SWE_USCAMB_20190604.tif.xml
data/working/aso/ASO_50M_SWE_USCAMB_20190329.tif.xml
data/working/aso/ASO_50M_SWE_USCAMB_20180425.tif.xml
data/working/aso/ASO_50M_SWE_USCALV_20170717.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20190715.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20190703.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20190611.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20190501.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20190309.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20180601.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20180422.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20170815.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20170718.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20170128.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20160626.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20160621.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20160614.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20160607.tif.xml
data/working/aso/ASO_50M_SWE_USCALB_20160509.tif.xml
data/working/aso/ASO_50M_SWE_USCAKW_20190421.tif.xml
data/working/aso/ASO_50M_SWE_USCAKW_20190324.tif.xml
data/working/aso/ASO_50M_SWE_USCAKW_20190317.tif.xml
data/working/aso/ASO_50M_SWE_USCAKN_20190417.tif.xml
data/working/aso/ASO_50M_SWE_USCAKN_20180426.tif.xml
data/working/aso/ASO_50M_SWE_USCAKC_20190611.tif.xml
data/working/aso/ASO_50M_SWE_USCAKC_20190608.tif.xml
data/working/aso/ASO_50M_SWE_USCAKC_20190428.tif.xml
data/working/aso/ASO_50M_SWE_USCAKC_20190427.tif.xml
data/working/aso/ASO_50M_SWE_USCAKC_20190418.tif.xml
data/working/aso/ASO_50M_SWE_USCAKC_20190326.tif.xml
data/working/aso/ASO_50M_SWE_USCAKC_20190316.tif.xml
data/working/aso/ASO_50M_SWE_USCAKC_20180426.tif.xml
data/working/aso/ASO_50M_SWE_USCAJW_20190605.tif.xml
data/working/aso/ASO_50M_SWE_USCAJW_20190315.tif.xml
data/working/aso/ASO_50M_SWE_USCAJW_20180602.tif.xml
data/working/aso/ASO_50M_SWE_USCAJW_20180423.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20180528.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20180423.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20170816.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20170727.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20170717.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20170129.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20160509.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20160426.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20160416.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20160407.tif.xml
data/working/aso/ASO_50M_SWE_USCACE_20160401.tif.xml
data/working/aso/ASO_50M_SD_USWAOL_20160329.tif.xml
data/working/aso/ASO_50M_SD_USWAOL_20160208.tif.xml
data/working/aso/ASO_50M_SD_USCORG_20160403.tif.xml
data/working/aso/ASO_50M_SD_USCOGT_20190609.tif.xml
data/working/aso/ASO_50M_SD_USCOGT_20190408.tif.xml
data/working/aso/ASO_50M_SD_USCOGT_20180330.tif.xml
data/working/aso/ASO_50M_SD_USCOGM_20170220.tif.xml
data/working/aso/ASO_50M_SD_USCOGE_20190610.tif.xml
data/working/aso/ASO_50M_SD_USCOGE_20190407.tif.xml
data/working/aso/ASO_50M_SD_USCOGE_20180524.tif.xml
data/working/aso/ASO_50M_SD_USCOGE_20180331.tif.xml
data/working/aso/ASO_50M_SD_USCOCM_20190610.tif.xml
data/working/aso/ASO_50M_SD_USCOCM_20190407.tif.xml
data/working/aso/ASO_50M_SD_USCOCJ_20160403.tif.xml
data/working/aso/ASO_50M_SD_USCOCB_20180330.tif.xml
data/working/aso/ASO_50M_SD_USCOCB_20160404.tif.xml
data/working/aso/ASO_50M_SD_USCOBR_20190624.tif.xml
data/working/aso/ASO_50M_SD_USCOBR_20190419.tif.xml
data/working/aso/ASO_50M_SD_USCATE_20190705.tif.xml
data/working/aso/ASO_50M_SD_USCATE_20190613.tif.xml
data/working/aso/ASO_50M_SD_USCATE_20190503.tif.xml
data/working/aso/ASO_50M_SD_USCATE_20190417.tif.xml
data/working/aso/ASO_50M_SD_USCATE_20190324.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20180528.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20180423.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20170816.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20170727.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20170717.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160708.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160607.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160527.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160509.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160426.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160416.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160407.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160401.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20160326.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20130608.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20130601.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20130525.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20130503.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20130429.tif.xml
data/working/aso/ASO_50M_SD_USCATB_20130403.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20190713.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20190704.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20190614.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20190501.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20190325.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20180601.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20180422.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20180304.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20170815.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20170719.tif.xml
data/working/aso/ASO_50M_SD_USCASJ_20170129.tif.xml
data/working/aso/ASO_50M_SD_USCASF_20190714.tif.xml
data/working/aso/ASO_50M_SD_USCASF_20190704.tif.xml
data/working/aso/ASO_50M_SD_USCASF_20190609.tif.xml
data/working/aso/ASO_50M_SD_USCASF_20190502.tif.xml
data/working/aso/ASO_50M_SD_USCASF_20190317.tif.xml
data/working/aso/ASO_50M_SD_USCASF_20180601.tif.xml
data/working/aso/ASO_50M_SD_USCASF_20180423.tif.xml
data/working/aso/ASO_50M_SD_USCASF_20170718.tif.xml
data/working/aso/ASO_50M_SD_USCARC_20170717.tif.xml
data/working/aso/ASO_50M_SD_USCARC_20160412.tif.xml
data/working/aso/ASO_50M_SD_USCAMB_20190716.tif.xml
data/working/aso/ASO_50M_SD_USCAMB_20190703.tif.xml
data/working/aso/ASO_50M_SD_USCAMB_20190604.tif.xml
data/working/aso/ASO_50M_SD_USCAMB_20190329.tif.xml
data/working/aso/ASO_50M_SD_USCAMB_20180425.tif.xml
data/working/aso/ASO_50M_SD_USCALV_20170717.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20190715.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20190703.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20190611.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20190501.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20190309.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20180601.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20180422.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20170815.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20170718.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20170128.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20160626.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20160621.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20160614.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20160607.tif.xml
data/working/aso/ASO_50M_SD_USCALB_20160509.tif.xml
data/working/aso/ASO_50M_SD_USCAKW_20190421.tif.xml
data/working/aso/ASO_50M_SD_USCAKW_20190324.tif.xml
data/working/aso/ASO_50M_SD_USCAKW_20190317.tif.xml
data/working/aso/ASO_50M_SD_USCAKN_20190417.tif.xml
data/working/aso/ASO_50M_SD_USCAKN_20180426.tif.xml
data/working/aso/ASO_50M_SD_USCAKC_20190611.tif.xml
data/working/aso/ASO_50M_SD_USCAKC_20190608.tif.xml
data/working/aso/ASO_50M_SD_USCAKC_20190428.tif.xml
data/working/aso/ASO_50M_SD_USCAKC_20190427.tif.xml
data/working/aso/ASO_50M_SD_USCAKC_20190418.tif.xml
data/working/aso/ASO_50M_SD_USCAKC_20190326.tif.xml
data/working/aso/ASO_50M_SD_USCAKC_20190316.tif.xml
data/working/aso/ASO_50M_SD_USCAKC_20180426.tif.xml
data/working/aso/ASO_50M_SD_USCAJW_20190605.tif.xml
data/working/aso/ASO_50M_SD_USCAJW_20190315.tif.xml
data/working/aso/ASO_50M_SD_USCAJW_20180602.tif.xml
data/working/aso/ASO_50M_SD_USCAJW_20180423.tif.xml
data/working/aso/nsidc-download_ASO_50M_SWE.001_2020-12-08.py
resources/ParamVarsNotes.txt
testing/snow_download_by_tile.py
testing/snow_download_by_tile_example_usage.txt
resources/cbrfc_points.csv
resources/info/arc.dir
ndfd.py
resources/schema.ini
resources/NOAA_zones_SanJuan.csv
shread_app/data_archive.py
testing/ds.mint.bin
testing/ds.snow.bin
testing/tile.html
